body{
    background-color:whitesmoke;
    background-image: url("https://www.mitel.com/-/media/mitel/images/content-entry-photos/photo-of-man-at-desk-using-mobile-and-laptop.jpg?modified=20180413152810");
    background-position: center;
    background-size: cover;
}
.login-form {
    height:100vh;
    background-size:cover;
    position:relative;
    
    border-radius:20%;
    /* background-color:#f3f3f4; */
  }
  
  .login-form form {
    max-width:320px;
    width:90%;
    background-color:rgba(255, 255, 255, 0.727);
    padding:40px;
    border-radius:3%;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#000;
    box-shadow:2px 2px 4px rgba(0,0,0,0.2);
  }
  .logo{
    height: 133.64px; 
    max-width:200px;
  }
  .login-form .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-form form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-form form .btn-primary {
    background:#fc6315;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-form form .btn-primary:hover, .login-form form .btn-primary:active {
    background:#c24e13;
    outline:none;
  }
  
  .login-form form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-form form .forgot:hover, .login-form form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-form form .btn-primary:active {
    transform:translateY(1px);
  }
  
  